@using Shelf.Models.Models

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center fs-4"
            <h2 class="text-white py-2">Category List</h2>
            </div>
            <div class="text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Create new Company
                </a>
            </div>
        </div>
    </div>
    <div class="card-body py-3">
        <table id="tblData" class="table table-bordered table-striped mt-3" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>StreetAddress</th>
                    <th>City</th>
                    <th>State</th>
                    <th>PostalCode</th>
                    <th>PhoneNumber</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}